body {
background-image:url("../spotsylvania-background.jpg");
background-attachment: fixed;
background-size: 100%;
}

#top-line {
margin-top:12%;
}

.btn {
margin-top:2.5%;
font-size:1.6vw;
}

.sign-header {
font-size:4.0vw;
margin-left:8.0%;
margin-top:30%;
}

.sign-text {
font-size:1.97vw;
}

#button {
margin-left:29%;
}

@media (max-width: 700px) {
#sign {
background-image:url(../canvas-background.jpg);
background-repeat: repeat-y;
background-color:white;
background-size:100%;
margin-left:0%;
}
.sign-header {
font-size:34px;
margin:1%;
color:black;
text-align:center;
background-color:white;
border:gray; 1px;
padding:1.5%;
opacity:0.4;
}

#top-line {
margin-top:0%;
}

.sign-text {
font-size:24px;
margin-left:1%;
margin-right:1%;
padding:1.35%;
padding-left:2%;
font-family:'Crimson Text',serif;
margin-bottom:0%;
background-color:white;
opacity:0.4;
color:black;
border:gray; 1px;
}

#button {
margin:1% 0% 0% 1%;
}

.btn {
margin:1% 0% 0% 0%;
font-size:24px;
}
}
